<main class="content">
  <strong><%= @error %></strong>
  <form class="signin" action="<%= session_url %>" method="post">
    <h1>Sign In</h1>
    <%= auth_token %>

    <%= render "users/fields", user: @user, errors: {}, sign_in: true %>

    <button>Sign In</button>
    <a class="button-alt" href="<%= new_user_url %>">Register</a>
    <a href="/auth/twitter"><img class="twitter-sign-in" src="/images/sign-in-with-twitter-gray.png"></a>
  </form>
</main>
