<ul class="display-list">
  <% feed.each(function (item) { %>
  <li>
    <a href="/users/<%= item.get("who_id") %>"><%= item.get("who_name") %></a>
    <% if (item.get("type") === "Follow") { %>
      followed you.
    <% } else if (item.get("type") === "Phile") { %>
      added <a href="/philes/<%= item.get("phile_id") %>"><%= item.get("phile_name") %></a>.
    <% } else { %>
      notated <a href="/philes/<%= item.get("phile_id") %>"><%= item.get("phile_name") %></a>.
    <% } %>
  </li>
  <% }) %>
</ul>

<div class="feed-controls">
  <a href="javascript:void(0)"
    <% if (feed.page === 1) { %>
      class="inactive-link"
    <% } else { %>
      class="feed-prev"
    <% } %>
    >
    ‹ Prev
  </a>
  Page <%= feed.page %>
  <a class="feed-next" href="javascript:void(0)">Next ›</a>
</div>
