<% if (user.get("is_current_user")) { %>
    <button class="file-upload">Upload a File</button>
    <input type="file" class="file-upload-selector">
<% } %>

<form class="search file-search">
  <input type="text" placeholder="Find a file..." value="<%= user.philes().prefix %>">
</form>

<ul class="file-list display-list">
  <% user.philes().each(function (phile) { %>
  <li class="clearfix">
    <a href="/philes/<%= phile.id %>"><%= phile.escape("name") %></a>
    <% if (user.get("is_current_user")) { %>
      <ul class="file-controls clearfix">
        <li><button class="phile-tag" data-phile-id="<%= phile.id %>">tag</button></li>
        <li><button class="phile-delete" data-phile-id="<%= phile.id %>">delete</button></li>
      </ul>
    <% } %>
  </li>
  <% }) %>
</ul>
