<main class="content">
  <form class="signin" action="<%= users_url %>" method="post">
    <h1>Register</h1>
    <%= auth_token %>

    <%= render "fields", user: @user, sign_in: false %>

    <button>Register</button>
    <a class="button-alt" href="<%= new_session_url %>">Sign in</a>
    <a href="/auth/twitter"><img class="twitter-sign-in" src="/images/sign-in-with-twitter-gray.png"></a>
  </form>

  <form action="<%= guest_session_url %>" method="post">
    <%= auth_token %>
    <button>Guest Sign In</button>
  </form>
</main>
