<a href="<%= user_url(user) %>"><%= user.name %></a>
<button data-user-id="<%= user.id %>" data-following="<%= current_user.following?(user) %>" class="follow-toggle">
  <%= current_user.following?(user) ? "Unfollow" : "Follow" %>
</button>
