<!DOCTYPE html>
<html>
<head>
  <title>Code Genius</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body>

<header class="site-header">
  <nav class="clearfix">
    <h1 class="site-header-logo">Code Genius</h1>

    <ul class="site-header-links clearfix">
      <% if signed_in? %>
        <li><a href="<%= user_url(current_user) %>"><%= current_user.email %></a></li>
        <li>
          <form action="<%= session_url %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <%= auth_token %>
            <button>Sign Out</button>
          </form>
        </li>
      <% else %>
        <li>
          <a class="button" href="<%= new_session_url %>">Sign In</a>
        </li>
      <% end %>
    </ul>
  </nav>
</header>

<%= yield %>

<footer class="site-footer">
  by <a href="http://mkigikm.github.io">matt</a>
</footer>
</body>
</html>
