<!DOCTYPE html>
<html>
<head>
  <title>Code Genius</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body>

<header class="site-header">
  <div class="site-header-content clearfix">
    <img class="site-header-logo" src="/logo.png">

    <% if !@no_search %>
      <form class="search" method="get" action="<%= search_url %>">
        <input type="text" placeholder="Search Code Genius..." name="query">
      </form>
    <% end %>

    <nav class="site-header-links clearfix">

        <% if signed_in? %>
          <a class="site-header-user-name" href="<%= user_url(current_user) %>"><%= current_user.name %></a>

          <form action="<%= session_url %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <%= auth_token %>
            <button>Sign Out</button>
          </form>

        <% else %>
          <a class="button" href="<%= new_session_url %>">Sign In</a>
        <% end %>
    </nav>
  </div>
</header>

<%= yield %>

<footer class="site-footer">
  by <a href="http://mkigikm.github.io">matt</a>
</footer>
</body>
</html>
