<!DOCTYPE html>
<html>
<head>
  <title>Code Genius</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
<header class="site-header clearfix">
  <h1>Code Genius</h1>
  <ul>
    <li><a href="<%= user_url(current_user) %>"><%= current_user.email %></a></li>
    <li>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= auth_token %>
        <button>Sign Out</button>
      </form>
    </li>
  </ul>
</header>
<% end %>
<%= yield %>

</body>
</html>
